@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700,700i');

body {
  background: #F9F9F5;
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  text-align:center;
  font-size: 15.5vw;
}
