@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700');

body {
  background: #915d2d;
  color: #f9f9e8;
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  text-align:center;
  font-size: 15.5vw;
}


